@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root {
    --main-bg-color: #2874f0;;
  }

*{
    padding: 0;
    margin: 0;
}
header{
    background: var(--main-bg-color);
    /* border: 2px solid red; */
    font-family: 'Lato', sans-serif;
    
}
nav{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 87px;
    padding: 0 25px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    /* color: rgb(22,90,236); */
    font-weight:bolder;
}

.search{
    display: flex;
    align-items: center;
}
.search input{
    height: 33px;
    width: 30vw;
    border-radius: 1px;
    margin: 0 10px 0 56px;
    padding: 0 12px;
}
.search button{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.slider{
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}

.card h2{
    font-family: 'Ubuntu', sans-serif;
}
/* .btn{
    margin: 55px 0;
} */
.container{
    min-height: calc(100vh - 58px - 12vh);
}

.card{
    background-color:white;
    max-width: 93vw;
    margin: 37px auto;
}
.card-item{
    display: inline-flex;
    flex-direction: column;
        /* width: 12vw; */
        margin: 0 15px;
    }
.cards{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    
    overflow: scroll;
}
footer{
    height: 12vh;
    background-color:var(--main-bg-color);
    color: blanchedalmond;
    font-family: 'Lato', sans-serif;
}